<% provide :title, t(".title") %>
<% provide :url_path, admin_tours_path %>
<% provide :button_text, t(".title") %>

<div class="box-header with-border">
  <h3><%= t ".title" %></h3>
</div>
<div class="box-body">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render "form" %>
    </div>
  </div>
</div>
