default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: fbt_5_development

test:
  <<: *default
  database: fbt_5_test

production:
  <<: *default
  database: fbt_5_production
  username: fbt_5
  password: <%= ENV['FBT_5_DATABASE_PASSWORD'] %>
