<div class="col-md-4 place">
  <%= link_to "#", class: "place-picture" do %>
    <%= image_tag "hoi_an.jpg" %>
  <% end %>
  <div class="info">
    <div class="col-md-12">
      <%= link_to "#", class: "place-picture" do %>
        <h3 class="place-name"><%= place.name %></h3>
      <% end %>
    </div>
  </div>
</div>
