<footer id="footer-area">
  <hr>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="footer-content">
          <h1><%= t ".description" %></h1>
          <p><%= t ".sub_title1" %></p>
          <p><%= t ".sub_title2" %></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="copy"><%= t ".copyright" %></p>
      </div>
    </div>
  </div>
</footer>
